.button{
    background: #7D75D8;
    color: white;
    width: 85px;
    border-radius: 8px;
    width: 138px;
    height: 52px;
}
.center{

    display: block;
    text-align: center;
}
.center h1{
    font-family: Prata;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}
.center p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
#body{
    background-color: rgb(178, 242, 242);
    width: 100%;
    margin: 0 auto;

}
.input{
    width: 532px;
    height: 52px;
    border: 1px solid #DEDFE2;
    padding: 0px 0px 0px 24px;
}
@media only screen and (max-width: 576px) {
    .input{
        width: 20rem;
    }
  }